* {
    margin: 0;
    padding: 0;
}

body {
    font-family: cursive;
    background-image: url('Resources/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

.heading {
    color: rgb(9, 243, 255);
    text-align: center;
    margin: 100px 0 40px 0; 
    text-shadow: 0px 0px 15px rgb(55, 6, 251);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    width: 450px;
    height: 300px;
    background-color: rgba(182, 180, 180, 0.559);
    border-radius: 25px;
    margin: 0 auto;
    box-shadow: 0 0 50px 15px rgb(100, 4, 144);
}

.up, .down {
    height: 100px;
    box-shadow: 0 0 10px 3px rgb(124, 244, 234);
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.573);
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 75px;
    border-radius: 4px;
}